body{
  background: #eeedec;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}
.container{
  max-width: 400px;
}
.icon{
  position: relative;
  top: -50px;
  border-radius: 50%;
  width: 100px;
  margin-bottom: -50px;
}
input {
  /* color: rgb(189, 169, 165); */
}
::-webkit-input-placeholder {
  text-align: center;
  font-style: italic;
  color: rgb(255, 60, 0);
  /* coś ten kolor nie śmiga */
}